* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

a,
button {
  transition: all 0.25s ease;
}

a:hover,
button:hover {
  opacity: 0.78;
  transform: translateY(-1px);
}